#pfp{
  width: 40px;
  border-radius: 50%;
}

.navbar-brand small {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  font-family: consolas;
}

.navbar-brand small:hover {
  text-decoration: underline;
}

.nav-item:hover a {
  text-decoration: underline;
}

nav{
  background-color: #101010;
}
