/* test */



/* test */

html,
body {
  overflow-x: hidden;
  background-color: #000;
  margin: -1px;
  /* solve a white ugly line on mobile devices */
}

* {
  --orange: #fd7e14;
  --orange2: #f71045;
  --orange3: #f74610;
  --background: #151515;
  --background_dark: #0d0d0d;
  --background_light: #101010;
}

/* nav.navbar{
  position: fixed !important;
  width: 100%;
  height: 65px;
  top: 0;
  z-index: 100;
}

main{
  margin-top: 65px;
} */

main

/*, article*/
  {
  background-color: var(--background);
  padding-top: 60px;
}

h1 {
  font-family: consolas;
  font-style: italic;
  font-weight: 900 !important;
}

#dev-console {
  background-color: var(--background);
  border-radius: 12px;
  width: fit-content;
  color: white;
}

#dev-console b,
.nav-link b {
  background: -webkit-linear-gradient(var(--orange2), var(--orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item:hover a:has(b) {
  text-decoration: none;
}

h3 {
  text-decoration: underline;
}

h4 {
  font-style: italic;
}

li {
  padding-top: 12px;
}

#pfp-big {
  background:
    linear-gradient(var(--background) 0 0) padding-box,
    linear-gradient(0deg, var(--orange), var(--orange2)) border-box;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: inline-block;
  width: 220px;
  margin: auto;
}

/* #pfp {
  background:
    linear-gradient(var(--background) 0 0) padding-box,
    linear-gradient(0deg, var(--orange), var(--orange3)) border-box;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 50%;
} */

.presentation {
  background-color: var(--background_dark);
  display: grid;
  justify-content: center;
}

.btn-100 {
  width: 120px !important;
}

.btn-150 {
  width: 150px !important;
}

#about-btn {
  border-width: 2px;
  border-color: var(--orange);
  color: var(--orange);
}

#about-btn:hover {
  background-color: var(--orange);
  color: black;
}

#goup-btn {
  background-color: var(--orange);
  border: none;
}

.card {
  /* margin-bottom: 20px;
  margin-top: 20px; */
  border-color: var(--background_light) !important;
}

.prjlogo {
  filter: invert(43%) sepia(0%) saturate(1215%) hue-rotate(176deg) brightness(79%) contrast(81%);
}

.card-top {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: var(--background_dark);
}

.card-title b {
  color: var(--orange);
  text-decoration: underline;
}

.card-body {
  /* border-bottom-right-radius: 2%;
  border-bottom-left-radius: 2%; */
  background-color: var(--background_light);
}

.card-body p {
  font-size: small;
}

.card-footer {
  width: 100%;
  background-color: var(--background_light) !important;
  border: none !important;
}

footer {
  height: 165px;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100% !important;
}