/* test */



/* test */

html,
body {
  overflow-x: hidden;
  background-color: #000;
  margin: -1px;
  /* solve a white ugly line on mobile devices */
}

* {
  --orange: #ff6f38;
  --orange2: #cc2a49;
  --orange3: #ff6f10;
  --background: #151515;
  --background_dark: #0d0d0d;
  --background_light: #101010;
}

main {
  background-color: var(--background);
  padding-top: 60px;
}

h1 {
  font-family: consolas;
  font-style: italic;
  font-weight: 900 !important;
}

#dev-console {
  background-color: var(--background);
  border-radius: 12px;
  width: fit-content;
  color: white;
}

#dev-console b {
  background: -webkit-linear-gradient(var(--orange2), var(--orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item:hover a:has(b) {
  text-decoration: none;
}

h3 {
  text-decoration: underline;
}

h4 {
  font-style: italic;
}

li {
  padding-top: 12px;
}

#pfp-big {
  background:
    linear-gradient(var(--background) 0 0) padding-box,
    linear-gradient(0deg, var(--orange), var(--orange2)) border-box;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  width: 220px;
  margin: auto;
}

/* #pfp {
  background:
    linear-gradient(var(--background) 0 0) padding-box,
    linear-gradient(0deg, var(--orange), var(--orange3)) border-box;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 50%;
} */

.presentation {
  background-color: var(--background_dark);
  display: grid;
  justify-content: center;
}

.btn-100 {
  width: 120px !important;
}

.btn-150 {
  width: 150px !important;
}

#about-btn {
  border-width: 2px;
  border-color: var(--orange);
  color: var(--orange);
}

#about-btn:hover {
  background-color: var(--orange);
  color: black;
}

#goup-btn {
  background-color: var(--orange);
  border: none;
}

#sidebar .btn {
  border-radius: 5px;
  border: none;
}

footer {
  height: 230px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  bottom: 0;
  left: 0;
  width: 100% !important;
}